:root {
    --white: #FFFFFF;
    --off-white: #CCCCCC;
    --dark-gray: #1C1C1C;
    --lighter-dark-gray: #3C3C3C;
    --light-gray: #A0A0A0;
    --spotify-green: #1DB954;
    --font-size-nav: 10px;
    --font-size-logo: 28px;
    --background-filter-color: rgba(34, 34, 34, 0.6);
    --background-gradient-color-default: linear-gradient(
        180deg,
        rgba(5, 5, 5, 1) 0%, 
        rgba(20, 20, 20, 1) 30%,
        #1C1C1C 100%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.body {
    height: 100vh;
}

.body-flexbox-column {
    display: flex;
    flex-direction: column;
}

.body-flexbox-column-100 {
    height: 100%;
}

.body-background {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 15% 50%;
}

.background-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background: var(--background-filter-color);
}

.header {
    position: relative;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 75px;
    background-color: var(--dark-gray);
}

.header-ul {
    list-style-type: none;
    white-space: nowrap;    
}

.header-ul li {
    display: inline; 
    /*  TODO vertical align of children */
}

.header-ul-left li{
    margin-right: 50px;
}

.header-ul-right li{
    margin-left: 50px;
}

.side-nav-counter-block {
    height: 15px;
    width: 16px;
}

.a {
    text-decoration: none
}

.text {
    font-family: 'Cabin';
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}

.nav-text {
    position: relative;
    font-size: var(--font-size-nav);
    color: var(--light-gray);
    transition: color 300ms;
}

.nav-text:hover {
    color: var(--white);
}

.nav-text::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #A0A0A0;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

.nav-text:hover::after {
    background-color: var(--white);
    opacity: 1;
    transform: translate3d(0, 0.2em, 0);
}

.logo-text {
    font-weight: 500;
    font-size: var(--font-size-logo);
    letter-spacing: 0.18em;
    color: var(--white);
}

.cursor-default {
    cursor: default;
}

.cursor-pointer {
    cursor: pointer;
}

.input-field {
    background: none;
    border: 1px solid var(--light-gray);
    height: 42px;
    margin-bottom: 18px;
    padding: 0 0 0 21px;
    font-size: 10px;
    color: var(--light-gray);
    transition: border-color 300ms;
}

.input-field:hover {
    border: 1px solid var(--off-white);
}

.input-field:focus {
    outline: none;
    border: 1px solid var(--white);
    color: var(--white);
}

.input-field::placeholder {
    color: var(--light-gray);
    font-size: 10px;
}

.input-button {
    height: 33px;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-color: var(--white);
    padding: 3px 0 3px 0;
    font-size: 10px;
    color: var(--white);
    transition: background-color 300ms, color 300ms;
}

.input-button:hover {
    color: black;
    background-color: var(--white);
}

.menu-button, 
.menu-opt-button {
    background-color: transparent;
}

.menu-button .side-nav-icon path {
    stroke: var(--light-gray);
    stroke-width: 2;
    transition: 300ms;
}

.menu-button .side-nav-icon:hover path {
    stroke: var(--white);
}

.menu-button-selected .side-nav-icon path {
    stroke: var(--white);
}

.side-nav {
    position: fixed;
    height: 100%;
    width: 20%;
    z-index: 1;
    overflow-x: hidden;
    right: 0;
    background-color: var(--dark-gray);
    transition: 0.5s;
}

.side-nav-hidden {
    width: 0%;
}

.side-nav ul {
    list-style-type: none;
    white-space: nowrap;  
}

.side-nav ul li{
    padding-top: 15px;
    text-align: center;
    list-style-type: none;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 1;}
}

.appear-animation {
    animation-name: appear;
    animation-duration: 600ms;
}

.appear-animation-500 {
    animation-duration: 500ms;
}

@media only screen and (min-width: 711px) {
    .side-nav-counter-block,
    .menu-button.menu-button-media {
        display: none;
    }
}

@media only screen and (max-width: 710px) {
    .header-ul {
        display: none; 
    }

    .header {
        height: 50px;
        padding: 0 15px;
        background-color: var(--dark-gray);
    }

    .logo-text {
        font-weight: 500;
        font-size: 20px;
        letter-spacing: 0.18em;
        color: var(--white);
    }

    .input-button {
        height: 28px;
        font-size: 9px;
    }

    .input-field {
        height: 36px;
        margin-bottom: 14px;
        padding: 0 0 0 18px;
        font-size: 9px;
    }

    .input-field::placeholder {
        font-size: 9px;
    }
}