.gradient-background {
  position: absolute;
  height: 100%;
  width: 100%;
  background: var(--background-gradient-color-default);
}

.main-music-player {
  position: relative;
  height: 100%;
  display: flex;
}

.main-music-player-left-side {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.track-img {
  border: 1px solid white;
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.track-img-compact {
  height: 43px;
  width: 43px;
  margin-left: 10px;
}

.left-side-song-name {
  margin: 45px 0 0 0;
  font-size: 23px;
  text-align: center;
  color: #FFFFFF;
}

.song-name-compact {
  margin: 3px 0 0 6px;
  font-size: 15px;
  text-align: left;
  color: #FFFFFF;
}

.left-side-artist {
  margin: 20px 0 0 0;
  font-size: 15px;
  text-align: center;
  color: #A0A0A0;
}

.artist-compact {
  margin: 4px 0 0 6px;
  font-size: 9px;
  text-align: left;
  color: #A0A0A0;
}

.controls-left-track-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main-music-player-right-side {
  position: relative;
  display: flex;
  width: 50%;
}

.content {
  /* TODO */
  position: relative;
  width: 100%;
}

.side-menu {
  position: relative;
  height: 100%;
  width: 59px;
  background-color: var(--dark-gray);
}

.side-menu-icon {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.footer {
  position: relative;
  height: 100px;
  display: flex;
  flex-direction: column;
  background: var(--dark-gray);
}

.under-progress-bar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}

.progress-time {
  margin: 15px;
  font-size: 10px;
  color: var(--light-gray);
}

.controls {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.controls-left,
.controls-center, 
.controls-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controls-left {
  width: 223px; 
}

.controls-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
  width: 34px;
  background: none;
  border: none;
  margin: 0px 30px 0px 30px;
}

.controls-button-repeat {
  margin-right: 40px;
}

.controls-button-shuffle {
  margin-left: 40px;
}

@media only screen and (min-width: 1070px) {
  .controls-left {
    visibility: hidden;
  }
}

@media only screen and (max-width: 1070px) {
  .main-music-player-left-side {
    display: none;
  }

  .main-music-player-right-side {
    width: 100%;
  }

  .footer {
    height: 70px;
  }

  .progress-time-played {
    display: none;
  }

  .progress-time-total {
    width: 3vw;
  }

  .controls-left,
  .controls-right {
    width: 18vw; 
  }

  .controls-center {
    width: 50vw;
  }

  .controls-button {
    height: 30px;
    width: 30px;
    margin: 0px 20px 0px 20px;
  }

  .progress-time {
    margin: 13px;
    font-size: 9px;
  }

  .side-menu {
    width: 6vw;
  }
  
  .side-menu-icon {
    margin-top: 15px;
  }
}

@media only screen and (max-width: 760px) {
  .controls-right {
    display: none;
  }

  .controls {
    justify-content: space-around;
  }

  .controls-left{
    width: 30vw; 
  }

  .controls-center {
    width: 50vw;
  }

  .controls-button-repeat {
    display: none;
  }
  
  .controls-button-shuffle {
    display: none;
  }

  .progress-time-total {
    width: 5vw;
  }

  .controls-button {
    height: 28px;
    width: 28px;
    margin: 0px 19px 0px 19px;
  }

  .side-menu {
    width: 7vw;
  }

  .side-menu-icon {
    width: 15px;
    height: 14px;
  }

  .track-img-compact {
    display: none;
  }
  
  .song-name-compact {
    margin: 2px 0 0 4px;
    font-size: 14px;
  }
  
  .artist-compact {
    margin: 1px 0 0 4px;
    font-size: 8px;
  }
}